<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.usecases.mybatis.model.Client" alias="Client"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.Club" alias="Club"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.City" alias="City"/>
        <typeAlias type="lt.vu.usecases.mybatis.model.ClientClub" alias="ClientClub"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/StudentsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/ClubMapper.xml"/>
        <mapper resource="mybatis/xml/ClientMapper.xml"/>
        <mapper resource="mybatis/xml/ClientClubMapper.xml"/>
        <mapper resource="mybatis/xml/CityMapper.xml"/>
    </mappers>
</configuration>